.App {
	text-align: center;
	color: white;
}

.stationName {
	font-size: 10vh;
}

.bus,
.tram,
.subway,
li[id^='u'] {
	padding: 15px;
	margin: 5px;
}

.bus {
	background-color: #95276e;
}
.tram {
	background-color: #be1414;
}
li[id^='tram-m'],
li[id^='bus-m'] {
	background-color: #f47920;
}
#u8 {
	background-color: #224f86;
}
#u9 {
	background-color: #f3791d;
}
